@property --myColor1 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

@property --myColor2 {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}

svg {
  background: linear-gradient(to right, var(--myColor1), var(--myColor2));
  transition: --myColor2 0.3s ease-out;
}

svg:hover {
  --myColor2: blue;
}
